<!-- <div class="buttons">
   <button mat-raised-button color="primary" (click)="importFile()">
     <mat-icon>file_upload</mat-icon> Importer
   </button>

   <input type="file" id="fileInput" (change)="handleFileInput($event)" hidden />


  <button mat-raised-button color="accent" (click)="exportShapefile()">
    <mat-icon>file_download</mat-icon> Exporter Shapefile
  </button>


  <button mat-raised-button color="accent" (click)="exportFile('csv')">
    <mat-icon>file_download</mat-icon> Exporter CSV
  </button>

  <button mat-raised-button color="accent" (click)="exportFile('txt')">
    <mat-icon>file_download</mat-icon> Exporter TXT
  </button>

  <input type="file" id="fileInput" (change)="handleFileInput($event)" hidden />
</div>
<br><br>
<div id="map" class="map"></div>
<div class="coords">Coordonnées : {{ cursorCoords }}</div> -->







<!-- 







<div class="buttons">
  <button mat-raised-button color="primary" (click)="importFile()">
    <mat-icon>file_upload</mat-icon> Importer
  </button>

  <input type="file" id="fileInput" (change)="handleFileInput($event)" hidden />

  <button mat-raised-button color="accent" (click)="exportShapefile()">
    <mat-icon>file_download</mat-icon> Exporter Shapefile
  </button>

  <button mat-raised-button color="accent" (click)="exportFile('csv')">
    <mat-icon>file_download</mat-icon> Exporter CSV
  </button>

  <button mat-raised-button color="accent" (click)="exportFile('txt')">
    <mat-icon>file_download</mat-icon> Exporter TXT
  </button>
</div>

<br><br>

<div id="map" class="map"></div>

<div class="coords">Coordonnées : {{ cursorCoords }}</div> -->


<!-- 

<div class="map-container">
  <div id="map"></div>
  <div class="coords">{{ cursorCoords }}</div>
</div>

<div class="controls">
  <button (click)="importFile()">Importer un fichier</button>
  <input type="file" id="fileInput" style="display: none;" (change)="handleFileInput($event)" />

  <button (click)="exportFile('csv')">Exporter CSV</button>
  <button (click)="exportFile('txt')">Exporter TXT</button>
  <button (click)="exportShapefile()">Exporter Shapefile</button>
</div> 

<div class="layer-toggles">
  <label>
    <input type="checkbox" checked (change)="toggleLayer('osm', ($event.target as HTMLInputElement).checked)" />
    OpenStreetMap
  </label>
  <label *ngIf="shapefileLayer !== undefined">
    <input type="checkbox" checked (change)="toggleLayer('shapefile', ($event.target as HTMLInputElement).checked)" />
    Couche Shapefile
  </label>
</div> -->


<!-- <div class="map-container">
  <div id="map"></div>
  <div class="coords">{{ cursorCoords }}</div>
</div>

<div class="sidebar">
  <div class="controls">
    <h3>Fichier</h3>
    <button (click)="importFile()">Importer un fichier</button>
    <input type="file" id="fileInput" style="display: none;" (change)="handleFileInput($event)" />

    <div class="export-buttons">
      <h4>Exporter</h4>
      <button (click)="exportFile('csv')">Exporter CSV</button>
      <button (click)="exportFile('txt')">Exporter TXT</button>
      <button (click)="exportShapefile()">Exporter Shapefile</button>
    </div>
  </div>

  <div class="layer-toggles">
    <h3>Afficher les couches</h3>

    <label>
      <input type="checkbox" checked (change)="toggleLayer('osm', getCheckedValue($event))" />
      OpenStreetMap
    </label>

    <label *ngIf="shapefileLayer !== undefined">
      <input type="checkbox" checked (change)="toggleLayer('shapefile', getCheckedValue($event))" />
      Couche Shapefile
    </label>
  </div>
</div> -->


<div class="top-bar">
  <!-- Boutons Import/Export sur la même ligne -->
  <button (click)="importFile()">Importer un fichier</button>
  <input type="file" id="fileInput" style="display: none;" (change)="handleFileInput($event)" />

  <button (click)="exportFile('csv')">Exporter CSV</button>
  <button (click)="exportFile('txt')">Exporter TXT</button>
  <button (click)="exportShapefile()">Exporter Shapefile</button>
</div>

<!-- Gestion des couches -->
<div class="layer-toggles">
  <h3>Afficher les couches</h3>

  <label>
    <input type="checkbox" checked (change)="toggleLayer('osm', getCheckedValue($event))" />
    OpenStreetMap
  </label>

  <label *ngIf="shapefileLayer !== undefined">
    <input type="checkbox" checked (change)="toggleLayer('shapefile', getCheckedValue($event))" />
    Couche Shapefile
  </label>
</div>

<!-- La carte en bas -->
<div class="map-container">
  <div id="map"></div>
  <div class="coords">{{ cursorCoords }}</div>
</div>

<!-- <div id="popup" class="ol-popup">
  <div id="popup-content"></div>
</div> -->

<div id="popup" class="ol-popup">
  <div id="popup-content"></div>
</div>

<div class="map-container">
  <div id="map"></div>
  <div class="coords">{{ cursorCoords }}</div>
</div>
